* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;

    background: #fce4ec;

    min-height: 100vh;
}


/* MAIN CONTAINER */

.container {
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;
}


/* CARD */

.card {
    width: 100%;

    max-width: 430px;

    background: white;

    border-radius: 25px;

    padding: 30px 25px;

    text-align: center;

    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
}


/* PETTAG */

.tag {
    color: #e91e63;

    font-size: 15px;

    font-weight: bold;

    letter-spacing: 1px;

    margin-bottom: 18px;
}


/* LOST MESSAGE */

.found-message {
    color: #555;

    font-size: 15px;

    line-height: 1.5;

    margin-bottom: 25px;
}


.found-message strong {
    color: #e91e63;

    font-size: 25px;
}


/* PET NAME */

h1 {
    color: #333;

    font-size: 32px;

    margin-bottom: 12px;
}


/* DESCRIPTION */

.description {
    color: #666;

    font-size: 15px;

    line-height: 1.6;

    margin-bottom: 22px;
}


/* DETAILS */

.details {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 10px;

    margin-bottom: 20px;
}


/* DETAIL BOX */

.detail-box {
    background: #fff1f5;

    border-radius: 14px;

    padding: 15px 10px;
}


.detail-box span {
    display: block;

    color: #888;

    font-size: 12px;

    margin-bottom: 6px;
}


.detail-box strong {
    color: #333;

    font-size: 14px;
}


/* LOCATION STATUS */

.location-status {
    background: #f5f5f5;

    border-radius: 12px;

    padding: 13px;

    color: #555;

    font-size: 13px;

    line-height: 1.4;

    margin-bottom: 15px;
}


/* BUTTONS */

button,
.call-btn {
    width: 100%;

    display: block;

    border: none;

    border-radius: 14px;

    padding: 16px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    text-decoration: none;
}


/* LOCATION BUTTON */

.location-btn {
    background: #e91e63;

    color: white;

    margin-bottom: 10px;
}


/* CALL BUTTON */

.call-btn {
    background: #4caf50;

    color: white;
}


/* HOVER */

button:hover,
.call-btn:hover {
    opacity: 0.9;
}


/* SMALL NOTE */

.small-text {
    color: #999;

    font-size: 11px;

    line-height: 1.5;

    margin-top: 18px;
}


/* MOBILE */

@media (max-width: 450px) {

    .container {
        padding: 12px;
    }


    .card {
        padding: 25px 18px;

        border-radius: 20px;
    }


    h1 {
        font-size: 28px;
    }


    .found-message {
        font-size: 14px;
    }


    .found-message strong {
        font-size: 23px;
    }

}